<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Medi Manage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>786DF9F51CD214F300DDE769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>786DFA091CD214F300DDE769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>786DFA141CD214F300DDE769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
